<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
        <!-- navbar-->
    {{>navbar}}

    <!-- main header -->
    <div class = "container-fluid main_header">
        <div class = "row">
            <div class = "col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class = "col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/404_image.avif" alt="error" class="img-fluid error_img" title="error">
                        </figure>
                        <p>Welcome to Shuchi's World </p>
                        <h1> {{ errorMsg}}</h1>
                
                        <a href="/"> <button>Go To Home Page</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <!--footer-->  
    {{>footer}}
</body>
</html>