<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerLinks}}
</head>
<body>
      <!-- navbar-->
  {{>navbar}}
    <!-- main header -->
    <div class = "container-fluid main_header">
        <div class = "row">
            <div class = "col-md-10 col-12 mx-auto">

                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>

                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_date">6 June</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_data_val">0</span><sup>o</sup>C</p>
                            <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>    
  
  <!--footer-->
  {{>footer}}

  <script src="js/main.js"></script>
  <script>
    
    const day = document.getElementById('day');
    const today_date = document.getElementById('today_date');
    
    const getCurrentDay = () => {
        
        const weekDay = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        let currentDate = new Date();
        let day_val = weekDay[currentDate.getDay()];
        let date_val = currentDate.getDate();
        let month_val = months[currentDate.getMonth()];

        day.innerText = day_val;
        today_date.innerText = date_val +" " + month_val;
    };

    getCurrentDay();

  </script>
</body>
</html>